body {
	background-color: 3D3D8D;

}


	
h1 {
	color: white;
	font-size: 50px;
	font-family: sans-serif;
	text-align:  center;


}
.intro {
	font-family: cursive;
	color: white;
	font-size: 30px;
	text-align:  center;
}

.wrapper {
	width: 800px;
	margin: auto;

}
.address{
	
	background-color: 242445;
	padding: 20px 80px;
	color: white;
	font-family: monospace;
	font-size: 25px;
	border-radius: 10px;

}

.radio {
	
	font-family: sans-serif;
	min-height: 1.25rem;
    min-width: 1.25rem;
}

.inputboxs {

	width:650px;
	height: 40px;
	border-radius: 10px; 
	padding-left: 15px;
	font-size: 17px; 
	outline: none;
	border-style: none; 
}

.clue {
	font-size: 12px;
	font-family: cursive;
	padding-left: 0;
}
.checkboxs {
	display: inline-block;
    margin-right: 0.625rem;
    min-height: 1.25rem;
    min-width: 1.25rem;

}

#inputtextareas {
	min-height: 120px;
    width: 100%;
    padding: .5rem;
    resize: vertical;
    font-size: 20px;
    outline:  none;
    border-radius: 10px;
}

.buttontag {
	background-color: #66d166;
	color: white;
	width: 100%;
	height: 45px;
	margin-top: 30px;
	border-style: none;
	border-radius: 5px;
	font-size: 25px;
}

.buttontag:hover {
	background-color: lightskyblue;
	color: darkblue;
}