* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}
 
body {
    margin: 0;
    padding: 0;
    background: #E5E8EF;
    font-family: 'Cairo', sans-serif;
     
}
/*--------wrapper-----------maintain hole layout----------------*/
 
.wrapper {
    display: grid;
    grid-template-columns: auto 250px;
    margin: 0 10px 0 255px;
}

/*-----------------------nav-------------------------------------*/


/*------------------menu-bar------------------------------------*/
 
.menu-bar {
    grid-column: 1 / span 2;
    /* grid-row: 1; */
    /* width: 100%; */
    height: 50px;
    background: #FFFFFF;
    box-shadow: 2px 2px 10px rgb(170, 168, 168);
}

/*-----------------------menu-items--------------------------*/
 
 
.menu-items{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 330px 25px 25px;
    float: right;
    align-items: center;
    width: 400px;
    padding-left: 10px;
    margin-right: 20px;
    font-size: 18px;
    border-radius: 5px;
    color: grey;
    margin-top: 7px;
}

/*------------------search icon----class:sea-input-------------*/
 
i.sea-input.fas.fa-search {
    font-size: 16px;
}
 
 
/*---------------menu-bar input class: sea-input----------------*/
 
input.sea-input {
    font-size: 16px;
    padding: 1px;
    outline: none;
    border: none;
}

/*-------------------------menu-bar menu-items a------------------*/

.search-input {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 280px 20px;
    box-shadow: 2px 2px 2px #e2e1e1;
    border-radius: 10px;
    padding: 6px 10px;
    align-items: center;
    text-decoration: none;
}
 
/*--------------------------------END nav--------------------------------*/

/*--------------------------------------------------------------------------------------------------*/
 
/*-----------------------------------side-bar----------------------------*/
  
 
.sidde-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    grid-column: 1;
    grid-row: 1 / span 2;
    background: #FFFFFF;
    box-shadow: 2px 2px 10px rgb(170, 168, 168);
}
 
/*---------------This is NU Sphere Logo & Img part---------------------*/
 
.NU_sphere_logo {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 145px auto;
    align-items: center;
    margin-left: 30px;
    margin-top: 10px;
    text-align: center;
    padding-right: 40px;
    font-size: 28px;
}

/*-----------------------menu icon------------------------------*/

.NU_sphere_logo a {
    color: grey;
    text-decoration: none;
    font-size: 25px;
}

/*------------------------------logo img--------------------------*/

.NU_sphere_logo img {
    width: 140px;
    height: 40px;
}

/*---------------------------This is a side bar--------------------*/
 
/*-----------------------unorder-list div--------------------------*/
.unorder-list {
    margin-left: 5px;
    padding: 15px;
}
/*-------------------unorder-list ul---------------------*/
.unorder-list ul {
    list-style: none;

}

.unorder-list ul li{
    height: 50px ;
}
/*-------------------unorder-list ul li a-----------------*/

.unorder-list ul li a {
    display: grid;
    grid-template-columns: 30px auto;
    align-items: center;
    margin: 5px;
    width: 150px;
    font-size: 20px;
    color: gray;
    text-decoration: none;
    padding: 5px 15px;
    letter-spacing: .5px;
}
 
/*------------------unorder-list ul li a hover----------------*/
 
.unorder-list ul li a:hover {
    background-image: linear-gradient(to right, rgba(228, 5, 5, 0.836), rgba(153, 13, 106, 0.836) );
    color: #ffff;
    border-radius: 4px;
    transition: .3s;
    box-shadow: 2px 2px 5px black;
}
 
 
/*-------------------------sidebar icon color------------------*/
 
 
i.fas.fa-wallet {
    color: rebeccapurple;
}
 
i.fas.fa-atlas {
    color: #1c1515de;
}
 
i.fas.fa-user {
    color: coral;
}
 
i.fas.fa-user-tie {
    color: darkgoldenrod;
}
 
i.fas.fa-box {
    color: #32c928c4;
}
 
i.fas.fa-lightbulb {
    color: #f40c0cd4;
}
 
i.fas.fa-hands-helping {
    color: indianred;
}
 
.unorder-list ul li a .icon:hover {
    color: white;
}
 
/*---------------------------started----container------------------------*/

.container {
    margin: 30px 40px 40px 40px;
    margin-bottom: 0;
    background: #E5E8EF;
}
 
 
 
 
.content-search {
    display: grid;
    grid-gap: 7px;
    grid-template-columns: 28px auto 28px;
    text-align: center;
    align-items: center;
    font-size: 18px;
    color: gray;
    padding: 8px;
    box-shadow: 2px 2px 5px grey;
    height: 45px;
    margin: 20px 0;
    margin-top: 15px;
    background: #FFFFFF;
    border-radius: 5px;
}
 
.content-search-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
/*This is seainput search icon placeholder search project here*/
 
 
i.seainput.fas.fa-search {
    text-align: center;
}
 
input.seainput {
    outline: none;
    border: none;
    font-size: 16px;
    letter-spacing: .5px;
    color: grey;
}
 
i.seainput.fas.fa-chevron-circle-right {
    text-align: center;
    font-size: 20px;
    color: rgba(153, 13, 106, 0.836);
}
 
i.seainput.fas.fa-chevron-circle-right:hover{
    color: indianred;
}


/*This is a new-ppular div*/
 
.new-popular {
    display: grid;
    grid-gap: 30px;
    grid-template-rows: 250px auto;
}
 
.see-all {
    display: grid;
    grid-template-columns: auto 100px;
    padding: 5px;
    margin: 12px 0;
    align-items: center;
    color: gray;
}

.see-all a {
    text-decoration: none;
    background-image: linear-gradient(to right, rgba(153, 13, 106, 0.986), rgba(228, 5, 5, 0.952) );
    color: whitesmoke;
    text-align: center;
    font-size: 20px;
    letter-spacing: .5px;
    box-shadow: 2px 2px 4px gray;
    border-radius: 20px;
    font-weight: 600;
}
 
.see-all a:hover {
    background-image:linear-gradient(to left, rgb(7, 166, 214), yellow);
    font-weight: bold;
    color: black;
    transition: 1s;
}
 
/*---------------------------------all projects-----------------------------------*/
 
.all-projects {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto auto auto auto;
    /*margin: 16px;*/
}
 
.project {
    display: grid;
    line-height: 25px;
    align-items: center;
    
}
 
.project .thumbnail {
    width: 210px;
    height: 130px;
    align-items: center;
    border-radius: 5px;
    position: relative;
    transition: 1.5s all ease-in-out;


}

.project:hover .thumbnail {
    transform: scale(1.2);
    transition: 1s;
    opacity: .5;
    border-radius: 7px;

}    
.project a.project-icon {
    background: #15BB9A;
    color: rgb(211, 211, 211);
    font-size: 60px;
    text-align: center;
    padding-top: 30px;
}


/*new*/
.project.details.click-here {
    background-color: #3333;
    padding: 0 10px;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    opacity: 0;
    transition: 1s all ease-in-out;
}
/*-------------------------span details-------------------------*/

.project .details{
    background-color: #333;
    color: white;
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 65px;
    transition: 1s all ease-in-out;
    opacity: 0;
}

/*-----------------------p introduction------------------------------*/


p.introduction {
    background-color: #333;
    color: white;
    font-size: 12px;
    position: absolute;
    width: 155px;
    margin-top: 8px;
    margin-left: 10px;
    padding: 5px 10px;
    line-height: 20px;
    border-radius: 5px;
    align-items: center;
    transition: 1s all ease-in-out;
    opacity: 0;
}


/*--------------------------link click here----------------------------*/
 
.project a.click-here {
    text-decoration: none;
    background-image: linear-gradient(to right, rgba(153, 13, 106, 0.986), rgba(228, 5, 5, 0.952) );
    color: white;
    font-size: 16px;
    font-weight: 600;
    width: 90px;
    position: absolute;
    margin-top: 75px;
    margin-left: 25px;
    border-radius: 10px;
    text-align: center;
    transition: 1s all ease-in-out;
    opacity: 0;
}

/*----------------------------hover click here----------------------------*/

.project a.click-here:hover {
    color: black;
    font-weight: bold;
    background-image:linear-gradient(to left, rgb(7, 166, 214), yellow);
    box-shadow: 1px 1px 3px gray;
    transition: .7s;
    
 
}

 
.project:hover a.click-here,
.project:hover span,
.project:hover p.introduction {
    opacity: 1;
    transition: .5s;
}

/*-------------------here END container css---------------- */


/*---------------------------------------------------------------------------------*/

/*---------------started----------featured------------------*/
 
 
.featured {
    margin-top: 40px;
    background: #FFFFFF;
    box-shadow: 2px 2px 10px rgb(170, 168, 168);
    border-radius: 5px;
    color: grey;
     
}
 
 
.featured h2 {
    text-align: center;
     
}
 
 
.feature-box {
    padding-top: 20px;
    align-items: center;
    margin: auto;
    margin-left: 27px;
 
}


.subfatured {
    display: grid;
    grid-gap: 10px;
    padding: 10px;
    line-height: 10px;
}
 
.subfatured a.fearture-icon {
    display: grid;
    text-align: center;
    text-decoration: none;
    color: rgb(207, 207, 207);
    font-weight: bold;
    box-shadow: 2px 2px 10px gray;
    border-radius: 4px;
    width: 180px;
    height: 60px;
    align-items: center;
    text-decoration: none;
    font-size: 30px;
}

/*subfeatured a.feature-icon color */


i.feature-icon.fas.fa-adjust {
    color: darkolivegreen;
}

i.feature-icon.fas.fa-address-card {
    color: mediumvioletred;
}

i.feature-icon.fas.fa-archive {
    color: cadetblue;
}

i.feature-icon.fas.fa-bath {
    color: maroon;
}


/*subfeatured span */


.subfatured span{
    color: grey;
    font-size: 18px;
    font-weight: 600;
}

/*subfeatured a.finder*/


.subfatured a.Finder {
    text-decoration: none;
    color: gray;
    font-size: 16px;
    font-weight: 600;
}

.subfatured a.Finder:hover{
    color: rgb(7, 166, 214);
    text-decoration: underline;
    transition: .7s;
}
 
/*This is a bottom-see section*/
 
.bottom-see a {
    display: block;
    width: 110px;
    text-decoration: none;
    background-image: linear-gradient(to right, rgba(153, 13, 106, 0.986), rgba(228, 5, 5, 0.952) );
    color: whitesmoke;
    text-align: center;
    font-size: 20px;
    letter-spacing: .5px;
    box-shadow: 2px 2px 4px gray;
    border-radius: 20px;
    font-weight: 600;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 20px;
     
}
 
.bottom-see a:hover {
    background-image:linear-gradient(to left, rgb(7, 166, 214), yellow);
    color: black;
    transition: .4s;
    font-weight: bold;
}

/*-------------------------------END featured css------------------------------------------*/

/*-------------------------------------------------------------------------------------------*/


/*------------------newProjects & popularProject css-------------------------------*/

.sidde-bar1 {
    width: 260px;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    height: 100%;
}

.container1 {
    display: grid;
    margin-left: 300px;
   
}


.content-search1 {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 30px auto 18px;
    align-items: center;
    font-size: 22px;
    color: gray;
    padding: 10px;
    box-shadow: 2px 2px 5px grey;
    height: 45px;
    margin-right: 18px;
    margin-top: 15px;
    background: #FFFFFF;
    border-radius: 10px;
    
}

input.seainput1 {
    outline: none;
    border: none;
    font-size: 18px;
    letter-spacing: 1px;
    color: grey;
}


.new-projects1{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto auto auto auto;
    margin-top: 30px;
}

.project1 {
    margin: 15px 0;
    grid-gap: 0px;
    display: grid;
}


.thumbnail1 {
    width: 270px;
    height: 150px;
    border-radius: 5px;
    transition: 1.5s all ease-in-out;
}

.project1:hover .thumbnail1 {
    transform: scale(1.2);
    transition: 1s;
    opacity: .5;
    border-radius: 10px;
}


.project1 span{
    background-color: #333;
    color: white;
    font-size: 18px;
    font-weight: 600;
    position: absolute;
    margin-left: 10px;
    padding: 0 15px;
    border-radius: 5px;
    align-items: center;
    transition: 1s all ease-in-out;
    opacity: 0;
}


.project1 p.intro {
    width: 260px;
    background-color: #333;
    color: white;
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    position: absolute;
    margin-left: 10px;
    margin-top: 40px;
    padding: 5px 8px;
    border-radius: 5px;
    align-items: center;
    transition: 1s all ease-in-out;
    opacity: 0;
}


.project1 a.finder {
    text-decoration: none;
    background-image: linear-gradient(to right, rgba(153, 13, 106, 0.986), rgba(228, 5, 5, 0.952) );
    color: white;
    font-size: 16px;
    width: 100px;
    padding: 0 10px;
    font-weight: 600;
    position: absolute;
    margin-top: 120px;
    margin-left: 80px;
    border-radius: 10px;
    text-align: center;
    transition: 1s all ease-in-out;
    opacity: 0;
}


.project1 a.finder:hover {
    color: black;
    font-weight: bold;
    background-image:linear-gradient(to left, rgb(7, 166, 214), yellow);
    box-shadow: 1px 1px 3px gray;
    transition: .7s;
}



.project1:hover a.finder,
.project1:hover span,
.project1:hover p.intro {
    opacity: 1;
    transition: .5s;
}

/*--------------------------tooltip---------------------------------------*/

.unorder-list ul li .tooltip{
    display: block;
    opacity: 0;
}

/*.unorder-list ul li {
    position: relative;
}
.tooltip {
    position: absolute;
    top: 0;
    left: 122px;
    transform: translate(-50%, -50%);
    background: rgb(194, 16, 16);
    color: #1d1b31;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    line-height: 35px;
    text-align: center;
    border-radius: 6px;
    width: 122px;
    height: 35px;
    display: block;
    transition: 0s;
    pointer-events: none;
    opacity: 0;
}

.unorder-list ul li:hover .tooltip{
    transition: all .5s ease;
    opacity: 1;
    top: 50%;

} */
/*23-10-2021*/

.responsive-see-all-link {

    display: none;
}