body{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    background: #f4f4f4;
}
/*font-family: 'Gemunu Libre', sans-serif;*/

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;

}

/* header */
header {
    background: #35424a;
    color: #ffffff;
    padding-top: 30px ;
    min-height: 70px;
    border-bottom: #e8491d 3px solid ;


}

header a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
}

header ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
header li {
    float: left;
    display: inline;
    padding: 0 20px;
    font-weight: 600;
}

header #branding {
    float: left;
}

header #branding h1{
    margin: 0;
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: 500;
}

header nav {
    float: right;
    margin-top: 15px;
}

header .highlight, .current a{
    color: #e8491d;
    font-weight: bold;
}

header a:hover {
    color: #cccccc;
    font-weight: bolder;
}

/* showcase */

#showcase{
    background-image: url(https://www.lbcc.edu/sites/main/files/imagecache/carousel/main-images/hero-web_development.png?1577830849);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 400px;
    text-align: center;

    opacity: .8;

}

#showcase h1 {
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#showcase p {
    font-size: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/*  newsletter  */
#newsletter {
    padding: 15px;
    color: #ffffff;
    background: #35423a;


}

#newsletter h1 {
    float: left;
    font-family: Arial, Helvetica, sans-serif;

}

#newsletter form {
    float: right;

    margin-top: 15px;

}

#newsletter input{
    width: 250px;
    height: 36px;
    outline: none;
    border: none;
    font-size: 16px;
    padding-left: 10px;
    font-family:  sans-serif;
    color: gray;
}
    
#newsletter button {
    color: white;
    background: #e8491d;
    border: none;
    padding: 0 20px;
    font-size: 18px;
    height: 36px;
    font-family: 'arial', sans-serif;
    text-transform: uppercase;
    
   
}
   
/* #boxes */

#boxes{
    margin-top: 20px;
}

.box img {
    width: 150px;
    height: 120px;
}

.box {
    float: left;
    width: 30%;
    text-align: center;
    padding: 10px;
    color: grey;
}

/*about css*/

.main-col{
    text-align:justify ;
    color: gray; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;"
    line-height: 2px;
    float: left;
    width:65%;
}
/*aside sidebar */



aside#sidebar{
    float: right;
    width: 30%;
    padding: 10px;
    text-align:justify ;
    color: gray; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;"
    line-height: 2px;
}

.dark{
    background-color: #35424a;
    color: #ffffff;
    padding: 25px;
    margin-top: 50px;

}


/* Service css*/

ul#services li{
    background-color: #e6e6e6;
    padding: 20px;
    list-style: none;
    border: #cccccc solid 1px;
    margin-bottom: 5px;


}

aside#sidebar .quote input, aside#sidebar .quote textarea {
    width: 90%;
    padding: 5px;
}

.button-1 {
    width: 100px;
    padding: 5px 10px;
    color: #f4f4f4;
    background-color: #e8491d;
    outline: none;
    border: none;
    margin-top: 10px;
    font-size: 18px;
    letter-spacing: .5px;
    border-radius: 5px;
}

.button-1:hover {
    color: rgb(53, 51, 51);
    background-color: silver;
    transition: 1s;
    font-weight: bold;
    box-shadow: 1px 1px 3px gray;
    

}

/* footer */

#footer {
    background-color: #e8491d;
    text-align: center;
    color: #cccccc;
    font-size: 20px;
    width: inherit;
    height: 50px;
    padding: 10px;
}

/*about html main container p*/



/*media quarices*/
@media(max-width: 768px) {
   header #branding, 
   header nav,
   header nav li,
   #neewsletter h1,
   #newsletter form{
       width: 100%;
       float: none;
       text-align: center;
       
   }    

   header {
    padding-bottom: 20px;
   }

   #showcase h1 {
       font-size: 25px;

   }
   showcase p {
       font-size: 18px;
   }

   #newsletter {
       float: none;
   }

   #newsletter h1 {
       width: 100%;
       text-align: center;
   }

   #newsletter input {
    display: inline-block;
       
        width: 100%;


   }
   #newsletter button {
    display: inline-block;
    width: 100%;
    margin-top: 20px;

   }

   #boxes {
       float: none;

   }

   #boxes .box {
       width: 100%;
       margin: 10px;
       padding: 10px

   }

   #footer {
       color: white;
       width: 100%;
       text-align: center;
       background-color: #e8491d;
   }


}